
/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: font-family: 'Bebas Neue', cursive; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: white; /* Change the font color*/
  background-color: #41B3A3; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*Change the font-family property to your linked font*/
  font-family: font-family: 'Bebas Neue', cursive;
  color: #43d6b9ff;
  text-align: center;
}

/* Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 30px;
  font-family: font-family: 'Bebas Neue', cursive;
  color: #E8A87C;
  text-align: center;
  line-height: 1.3em;
}

/* Change the color of a link when a person hovers over it*/
p a {
  color: #43d6b9ff;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C38D9E;
  border-style: solid;
  border-color: #E8A87C;
}

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
}

/* : Change the background color and/or font color when the mouse hovers over an item */
li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #41B3A3;
  color: #E8A87C;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  /* Design properties */
  background-color: #C38D9E;
  padding: 5px;

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; /* Change this value to move the box up or down */
}

.heading-home {
  padding: 2%;
  color:white;
  font-size: 49px;
  letter-spacing: 10px;
  line-height: 60px;
  text-align: center;
}

.intro-text {
  background-color:#41B3A3; /* Add your own background color */
  padding: 4%;
  margin: 2%;
  color: #E8A87C; /* Add the color of your font */
  font-size: 30px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;
}

.text-section {
  background-color: black;
  padding: 20px 45px 20px 20px;
  margin-top:35px;
  margin-left:35px;
  margin-right:15px;
  margin-bottom:35px;
  text-align: center;
  height:330px;
}

#wiei {
  font-size:50px;
}


/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* Add the CSS selector for each image to the collective image rule set */
.main-message,
.image-one, 
.image-two, 
.image-three,
.image-four, 
.image-five {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* : the property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* : My picture */
.main-message {
 background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2FJS10-20200323-p4-CivilRights-MD-4.jpg?v=1596075671894");
}

/* : My picture */
.image-one {
  background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2Fshutterstock_128872624-1-750x400.jpg?v=1596076433082");
}

/* : My picture*/
.image-two {
 background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2Ftacqc6gtpkylrv2hmcaifq.jpg?v=1596083028261");
}

/* My picture:  */
.image-three {
    background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2Ffinal%20in%20edu%20.png?v=1596134504093");
  }

/* My picture:  */
.image-four {
  background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2Fenlarged%20map%20.png?v=1596145649031");
}

/* My picture:  */
.image-five {
  background-image: url("https://cdn.glitch.com/3763ee11-0d71-4026-9736-f28ed6a814cd%2FEmptey%20Classroom.png?v=1596130033809");
}

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */
@media screen and (max-width: 700px) {
  .main-message,
  .image-one,
  .image-two,
  .image-three,
  .image-four {
    background-attachment: scroll;
  }
  .flex-container {
    flex-wrap: wrap;
    top: 20%;
  }
}

/*Add additional breakpoints based on your website's design*/
 @media screen and (max-width: 500px) {
  .flex-container {
    flex-wrap: wrap;
    top: 20%;
    .heading-home {
      font-size:5px;
    }
  }
}

.segregation, 
.fewer-resources,
.less-funding, 
.lessqualified-teachers {
    flex-direction:column;
    flex-wrap: nowrap;
    background-color: #C38D9E;
    padding-top: 1px;
    padding-bottom: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 12px;
    margin-left: 15px;
    margin-right: 15px;
}  

.text-section3 {
  display: flex;
  padding-left:15px;
  padding-right:15px;
  margin-top: 50px;
  margin-bottom: 50px;
  hieght: 1500px;
}

h4 {
  font-size:50px;
 display: flex;
 justify-content:center;
 backgroud-color: #C38D9E;   
}

  
  
  
  
  
  
 
